*{
    margin: 0px;
    font-family: inter;
}

#top{
    background-color: #303030;
    color: #FFFFFF;
    padding: 15% 0% 8% 4%;
}

#top-title{
    size: 80px;
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
}

#top-text{
    size: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
}

#superior{
    background-color: #F9F9F9F9;
    color: #000000;
    font-size: 20px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 6% 0% 7% 11%;
}

#inferior{
    font-size: 20px;
    display: grid;
    grid-template-columns: 63% 37%;
    padding: 4%;
}

#inferior-text{
    margin: 24% 4% 7% 4%;
}

#inferior-text-title{
    font-weight: 500;
    size: 40px;
    line-height: 20px;
}

#inferior-text-content{
    margin-top:50px;
    font-weight: 300;
    font-size: 25px;
    size: 24px;
    line-height: 30px;
}

#inferior-image{
    cursor: pointer;
    transform: translateY(0px);
    transition-duration: 1000ms;
}

#inferior-image:hover{
    transform: translateY(-20px);
    transition-duration: 1000ms;
}


#bottom{
    background-color: #303030;
    color:#FFFFFF;
    padding: 10% 0% 2% 0%;
    text-align: center;
}

input{
    background-color: #FFFFFF;
    width: 508px;
    height: 72px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    margin: 2%;
    padding-left: 30px;
}

button{
    background-color: #C07212;
    width: 286px;
    height: 74px;
    border-radius: 10px;
    border: 0px;
    margin: 5%;
    cursor: pointer;
    transform: translateY(0px);
    transition-duration: 1000ms;
}

button:hover{
    background-color: #3095c0;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px #1d5a746f;
    transition-duration: 1000ms;
}